@font-face {
  font-family: 'Redcollar';
  font-style: normal;
  font-weight: 700;
  src: 
    local('Redcollar'),
    url('./../fonts/redcollar.woff2') format('woff2'),
    url('./../fonts/redcollar.woff') format('woff'),
    url('./../fonts/redcollar.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 400;
  src: 
    local('TT Commons'),
    url('./../fonts/tt-commons-400.woff2') format('woff2'),
    url('./../fonts/tt-commons-400.woff') format('woff'),
    url('./../fonts/tt-commons-400.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 500;
  src: 
    local('TT Commons'),
    url('./../fonts/tt-commons-500.woff2') format('woff2'),
    url('./../fonts/tt-commons-500.woff') format('woff'),
    url('./../fonts/tt-commons-500.ttf') format('truetype');
}